{
  "extends": [
    "@atws/eslint-config"
  ],
  "overrides": [
    {
      "extends": [
        "@atws/eslint-config/projen"
      ],
      "files": [
        "{src,test,lambda}/**/*.ts",
        ".projenrc.{js,ts}"
      ],
      "parserOptions": {
        "project": "./tsconfig.dev.json"
      }
    },
    {
      "extends": [
        "@atws/eslint-config"
      ],
      "files": [
        "frontend/**/*.{ts,svelte}"
      ],
      "parserOptions": {
        "project": "frontend/tsconfig.json"
      }
    }
  ],
  "root": true
}
